/* form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(29, 29, 187);
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 60px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 70px;

}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
body{
    background-color: rgb(5, 134, 255);
}
a{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.resultado{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin: 250px;
    padding: 30px;
    border-radius: 60px;
    
}
.resultado h1{
    color: rgb(0, 0, 0);
} */